@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');

body{
    font-family: Poppins !important;
}

.ant-notification-notice{
    background: #000;
}
.ant-notification-notice{
    background: #000 !important;
    color: #fff;
  
}
.ant-notification-notice-message{
    color: #5FCFA9 !important;
    font-size: 16px;
    line-height: 24px;
    
}
.ant-notification-close-x{
    color: #fff !important;
}
.ant-notification-notice-description{
    font-size: 12px !important;
    line-height: 20px;
}
.ant-notification-close-x::before{
content: 'UNDO';
color: #fff !important;
font-size: 12px;
margin-right: 5px;
}